/* scrolling-banner */
.scrolling-banner {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.scrolling-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-text 50s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
